body{
    background-image: linear-gradient(135deg, #FEB1E5, #FFD3E0, #E5E3E7);
    height: 100vh;
}

.button{
    border: none;
    padding: 0.625e;
    border-radius: 0.5em;
    cursor: pointer;
}

.button:hover {
    filter:brightness(0.9);
}

.button:active {
    transform: translateY(2px);
}

.person-selector {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 3em auto 1em;
    max-width: 40em;
}

.person-selector-button {
    width: 100%;
    background-color: aliceblue;
    color: black;
    font-size: 1.1em;
}

.active-person {
    background: #4A00E0;
    box-shadow: 0 0 0.5em 0.1em #4A00E0;
}

.chat-container {
    background: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 1.25em;
    margin: auto;
    max-width: 37.5em;
    height: 37.5em;
    box-shadow: 0 0 1.25em 0.5em #4A00E0;
}

.chat-header {
    margin-bottom: 1em;
    color: azure;
}

.chat-header h2{
    font-size: 1.25em;
    font-weight: bold;
}

.chat-messages {
    height: 23em;
    overflow-y: scroll;
}

.chat-messages: ::-webkit-scrollbar {
    display: none;
}

.message {
    padding: 0.625em;
    border-radius: 1em;
    margin-bottom: 0.625em;
    display: flex;
    color: black;
}

.message-sender {
    font-weight: bold;
    margin-bottom: 0.31em;
    word-wrap: break-word;
}

.message-timestamp {
    font-size: 0.75em;
    text-align: right;
}

.blue-bg{
    background-color: cornflowerblue;
}

.gray-bg {
    background-color: rgb(212, 212, 221);
}

.chat-input-form {
    display: flex;
    align-items: center;
    margin-top: 2em;
    gap: 1em;
}

.chat-input {
    padding: 0.635em;
    border: none;
    border-radius: 0.5em;
    background-color: aliceblue;
    color: #333;
    font-size: 1em;
    flex-grow: 1;
}

.send-button{
    background-color: #e293c9;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 0.625em;
}
