.order-container {
  display: flex;
}

.order-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.order-content p {
font-size: 20px;
}

.order-wrapper {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.order-title {
  margin-bottom: 10px;
}

.order-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.order-list li {
  margin-bottom: 5px;
}

.order-items ul {
  list-style-type: none;
  padding: 0;
}

.order-items ul li {
  display: flex;
  justify-content: space-between;
}

.order-buttons {
  margin-top: 10px;
}

.btn-confirm {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.btn-confirm:hover {
  background-color: #45a049;
}

.btn-cancel:hover {
  background-color: #d32f2f;
}

.order-wrapper h2 {
  font-size: 20px;
}