/* cart.css */

.cart {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }
  
  .cart h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .cart ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cart-item:last-child {
    border-bottom: none;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .cart-item h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .cart-item p {
    margin: 0;
    color: #555;
  }
  
  .cart-total .order-total {
    font-size: 1.2em;
    margin-top: 20px;
  }
  
  .cart-actions {
    margin-top: 20px;
  }
  
  .checkout-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-button:hover {
    background-color: #218838;
  }
  
  .total-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

.remove-item-button {
  margin-left: auto;
  width: 30px;
  padding: 5px 10px;
  background-color: transparent;
  color: rgb(73, 73, 73);
  border: none;
  cursor: pointer;
}

.remove-item-button:hover {
  background-color: transparent;
  color: red;
}

.user-info {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  background: linear-gradient(to right, #ff3985, #ff9900) ;
}
.remove-icon {
  font-size: 25px;
}

.cart h4 {
  align-content: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.disabled:hover {
  background-color: #ccc;
}
