.footer {
  background-color: #1b1b1b;
  color: #8a8a8a;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-gap: 20px;
  margin-bottom: 0%;
}

.footer h2 {
  color: #8a8a8a;
}

.footer p {
  color: #8a8a8a;
}

.about h2,
.subscribe div > h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.subscribe div {
  display: flex;
  flex-direction: column;
}

.subscribe div span {
  margin-top: 10px;
}

.page-link {
  color: #8a8a8a;
  text-decoration: none;
  background-color: transparent;
  border: transparent;
}
.page-link:hover {
  color: #fc5688;
  text-decoration: none;
  background-color: transparent;
  border: transparent;
}

/* .subscribe .btn {
  background-color: #fc5688;
  color: #8a8a8a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.subscribe .btn:hover {
  background-color: #ff6c9a;
} */

.copyrigth {
  align-items: center;
  margin-top: 20px;
}
.copyrigth p {
  font-size: 14px;
}

.copyrigth a {
  color: #8a8a8a;
  text-decoration: none;
}

.copyrigth a:hover {
  text-decoration: underline;
}
