/* navbar.css */

.Navbar {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Navbar-logo {
  width: auto;
  height: 100px;
  margin-left: 2%;
  margin-top: 1%;
}

.btn {
  align-self: right;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.Navbar-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #2e2e2e; /* Medium gray text color */
  padding: 10px 15px; /* Adjust padding as needed */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.Navbar-link:hover {
  color: #ffffff; /* Blue text color on hover */
}

/* Hide/show links on smaller screens */
.rightSide {
  display: flex;
  flex-direction: column;
}

.rightSide.show {
  display: flex;
}

.rightSide:not(.show) {
  display: none;
}
