/* product.css */

@keyframes expand {
  0% {
    height: 100px;
  }
  100% {
    height: 250px;
  }
}

.product {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  margin: 1px;
  text-align: center;
  background-color: #fff;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}

.product:hover {
  box-shadow: 0 0 10px rgba(168, 3, 80, 0.336);
  transform: scale(1.05);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* Responsive Styles for .product */
@media (max-width: 768px) {
  .product {
    padding: 8px;
    margin: 5px;
  }

  .product:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 480px) {
  .product {
    padding: 6px;
    margin: 5px;
  }

  .product:hover {
    transform: scale(1.05);
  }
}