.sidebar {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: #333;
  font-size: 20px;
}

.toggle-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}
.toggle-btn :hover{
  background-color: transparent;
}

.content {
  display: none;
  margin-top: 20%;
}

.content.show {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

.sidebar-btn {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  color: #929292;
}

.sidebar-btn:hover {
  background-color: transparent;
  color: #dadada;
}

.icon {
  margin-right: 10px;
}

/* Add media queries for responsiveness */
@media (min-width: 768px) {
  .toggle-btn {
    display: none;
  }
  
  .content {
    display: block !important;
  }
}
