/* Default styles for larger screens */
body {
  font-family: 'Poppins', sans-serif;
}

.Signup {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: var(--texto); /* Raisin black */
  background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(../../public/assets/fondo.jpg);
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0.5rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  width: 100%;
}

button {
  border: none;
  background-color: #fef7ff;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: var(--color-primario); /* Violeta */
  width: 100%;
}

button:hover {
  background-color: #a42cd6;
  color: white;
}

.link-btn {
  background-color: rgb(252, 255, 255);
  button-border-color: rgb(70, 35, 151);
  color: rgb(70, 35, 151);
  text-decoration:underline;
}

/* Media query for phone screens */
@media screen and (max-width: 600px) {
  .Signup {
    padding: 1rem; /* Adjust padding for smaller screens */
  }

  .auth-form-container,
  .login-form,
  .register-form {
    padding: 1rem; /* Adjust padding for smaller screens */
    margin: 0.5rem 0; /* Adjust margin for smaller screens */
  }

  input {
    padding: 0.8rem; /* Adjust input padding for smaller screens */
  }

  button {
    padding: 15px; /* Adjust button padding for smaller screens */
  }
}
