body {
    font-family: "poppins", sans-serif;
    color: #101010;
    background-color: #ffffff;
    padding: 0%;
    margin: 0%;
    
  }
  
  .layout_padding {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  
  .layout_padding2 {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  
  .layout_padding2-top {
    padding-top: 45px;
  }
  
  .layout_padding2-bottom {
    padding-bottom: 45px;
  }
  
  .layout_padding-top {
    padding-top: 90px;
  }
  
  .layout_padding-bottom {
    padding-bottom: 90px;
  }

.slider_section .slider_container {
    color: #fefefe;
    background-color: #000000;
    background-color: #f89cab;
    padding: 25px;
    border-radius: 0 0 15px 15px;
  }
  
  .slider_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .slider_section .img-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 45px;
  }
  
  .slider_section .img-box img {
    width: 275px;
  }
  
  .slider_section .detail-box {
    padding-left: 45px;
    margin: 45px 0;
  }
  
  .slider_section .detail-box h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 10px;
  }
  
  .slider_section .detail-box a {
    display: inline-block;
    padding: 10px 40px;
    background-color: #db4566;
    color: #ffffff;
    border: 1px solid #db4566;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-top: 25px;
    text-transform: uppercase;
  }
  
  .slider_section .detail-box a:hover {
    background-color: transparent;
    color: #db4566;
  }
  
  .slider_section .carousel_btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #ffffff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: -25px;
    left: 5%;
    padding: 7px 10px;
    border-radius: 5px 5px 0 0;
  }

  
  .carousel-item  img {
    width: 400px;
    height: 400px;
  }
  
  .slider_section .carousel_btn-box img {
    margin: 0 10px;
  }
  
  .slider_section .carousel_btn-box .carousel-control-prev,
  .slider_section .carousel_btn-box .carousel-control-next {
    position: unset;
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    opacity: 1;
    background-position: center;
    color: #000000;
    font-size: 14px;
  }
  
  /* Default styles */
/* Add your default CSS styles here */

/* Media query for small screens */
@media screen and (max-width: 768px) {
  /* Styles for small screens */
  .carousel-caption {
    font-size: 14px;
  }
}

/* Media query for medium screens */
@media screen and (min-width: 768px) and (max-width: 992px) {
  /* Styles for medium screens */
  .carousel-caption {
    font-size: 16px;
  }
}

/* Media query for large screens */
@media screen and (min-width: 992px) {
  /* Styles for large screens */
  .carousel-caption {
    font-size: 18px;
  }
}
