/* slider.css */

.slider_container {
  position: relative;
  width: 100%; /* Ensure the slider container spans the full width */
  max-width: 1200px; /* Set a maximum width for the slider */
  margin: 0 auto; /* Center the slider horizontally */
  overflow: hidden; /* Hide any overflow content */
}


/* Style for the images */
.slider_container .carousel-item img {
  width: 100%; /* Ensure the images fill the entire width of the slider */
  height: 400px; /* Set a fixed height for the images */
  object-fit: cover; /* Crop the images to cover the entire slide */
}
/* Style for the carousel captions */
.slider_container .carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px; /* Add padding for better readability */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background to improve text visibility */
}

/* Optionally, adjust caption styles for different screen sizes */
@media (max-width: 768px) {
  .slider_container .carousel-caption {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

.boton {
  background-color: #ff6c85;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  
}

.boton:hover {
  background-color: #ff8c9b;
  color: white;
}

.text{
  color: white;
}
