/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css"); */
body {
  font-family: "Poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.layout_padding {
  padding-top: 90px;
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.why_section .box {
  text-align: center;
  margin-top: 45px;
  background-color: #f9f8f7;
  padding: 25px;
  border-radius: 5px;
}

.why_section .box .img-box {
  margin-bottom: 15px;
}

.why_section .box .img-box svg {
  width: 55px;
  height: auto;
  fill: #320b57;
}


/* Media query for small screens */
@media screen and (max-width: 768px) {
  body {
    font-size: 16px; /* Increase the base font size for better readability */
  }

  .section-title {
    font-size: 24px; /* Adjust section title size */
    padding-bottom: 20px; /* Adjust padding */
  }

  .layout_padding {
    padding-top: 60px; /* Reduce padding */
    padding-bottom: 60px;
  }

  .layout_padding2 {
    padding-top: 30px; /* Reduce padding */
    padding-bottom: 30px;
  }

  .why_section .box {
    margin-top: 30px; /* Adjust margin */
    padding: 20px; /* Reduce padding */
  }
}

/* Media query for medium screens */
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    font-size: 15px; /* Slightly adjust the base font size */
  }

  .section-title {
    font-size: 26px; /* Adjust section title size */
    padding-bottom: 25px; /* Adjust padding */
  }

  .layout_padding {
    padding-top: 75px; /* Adjust padding */
    padding-bottom: 75px;
  }

  .layout_padding2 {
    padding-top: 37px; /* Adjust padding */
    padding-bottom: 37px;
  }

  .why_section .box {
    margin-top: 37px; /* Adjust margin */
    padding: 22px; /* Adjust padding */
  }
}

/* Media query for large screens */
@media screen and (min-width: 992px) {
  body {
    font-size: 20px; /* Keep the original base font size */
  }

  .section-title {
    font-size: 28px; /* Original section title size */
    padding-bottom: 30px; /* Original padding */
  }

  .layout_padding {
    padding-top: 90px; /* Original padding */
    padding-bottom: 90px;
  }

  .layout_padding2 {
    padding-top: 45px; /* Original padding */
    padding-bottom: 45px;
  }

  .why_section .box {
    margin-top: 45px; /* Original margin */
    padding: 25px; /* Original padding */
  }
}

